<footer class="container-fluid menu" >
    <ul>
        <p>Nosotros</p>
        <li><a href="">Quienes Somos</a></li>
        <li><a href="">Terminos y condiciones</a></li>
        <li><a href="">Politica y Privacidad</a></li>

    </ul>

    <ul>
        <p>Info</p>
        <li><a href="">Cursos</a></li>
        <li><a href="">Profesores</a></li>
        <li><a href="">Regalos</a></li>
    </ul>

    <ul>
        <p>Medios</p>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Linkedin</a></li>
    </ul>

    <ul>
        <p>Contacto</p>
        <li><a href="">Necesito Ayuda</a></li>
        <li><a href="">Ingresa</a></li>
        <li><a href="">Registrate</a></li>

    </ul>
    <a href="index.html" class="logoF"><img src="../images/LOGO.png" alt="logo" class="logo"></a>
</footer>