<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categoria - Global Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

</head>

<body>
    <h4 class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam assumenda labore ipsam magni pariatur, nihil commodi quasi doloribus vel! Illum quaerat dolore magnam suscipit at aliquid, laudantium eius eaque.</h4>

    


    <%- include('partials/header') %>
    <div class="giga">
        <div class="giga bannerCat">
            <img src="../images/hombre-categorias-de-productos.png" alt="" class="bgCat">
            <div class="txtCat">
                <h1 class="h1Cat">Nuestras Categorias</h1>
                <h2 class="h2Cat "><a href="" class="text-decoration-none">Marketing Digital</a></h2>
                <h2 class="h2Cat"><a href="" class="text-decoration-none">Gestion y Management</a></h2>
                <h2 class="h2Cat"><a href="" class="text-decoration-none">Comunicacion efectiva global</a></h2>
            </div>
        </div>
    </div>
    <div class="card container-fluid" id="card">
        <div class="row">
          <ul class="cursos col-6">
  
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li><h3 class="text-center">Curso de Marketing Online- Programa Integral</h3></li>
                <li><h4>Por: Nombre Apellido</h4></li>
                <li> 
                  <p class="text-center">Ar$ xxxx</p> 
                  <i class="far fa-star"></i>
                </li>
                <li>
                  <i class="fas fa-shopping-cart"></i>
                  <button class="comprar">Comprar ahora</button>
                </li>
            </ul>
            <ul class="cursos col-6">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li><h3>Curso de Community Manager - Introducción I</h3></li>
                <li><h4>Por: Nombre Apellido</h4></li>
                <li> 
                  <p class="text-center">Ar$ xxxx</p> 
                  <i class="far fa-star"></i>
                </li>
                <li>
                  <i class="fas fa-shopping-cart"></i>
                  <button class="comprar">Comprar ahora</button>
                </li>
            </ul>
            <ul class="cursos col-6">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li> <h3>Curso de Google Adwords y posicionamiento en Google</h3> </li>
                <li><h4>Por: Nombre Apellido</h4> </li>
                <li> 
                  <p class="text-center">Ar$ xxxx</p> 
                  <i class="far fa-star"></i>
                </li>
                <li>
                  <i class="fas fa-shopping-cart"></i>
                  <button class="comprar">Comprar ahora</button>
                </li>
            </ul>
            <ul class="cursos col-6">
              <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
              <li> <h3>Curso de Marketing de Contenidos</h3> </li>
              <li> <h4>Por: Nombre Apellido</h4> </li>
              <li> 
                <p class="text-center">Ar$ xxxx</p> 
                <i class="far fa-star"></i>
              </li>
              <li>
                <i class="fas fa-shopping-cart"></i>
                <button class="comprar">Comprar ahora</button>
              </li>
          </ul>
        </div>
        </div>
<%- include('partials/footer')  %>
</body>

</html>
