<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categoria - Global Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

</head>

<body>
    <h4 class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam assumenda labore ipsam magni pariatur, nihil commodi quasi doloribus vel! Illum quaerat dolore magnam suscipit at aliquid, laudantium eius eaque.</h4>

    


    <%- include('partials/header') %>
    <div class="giga">
        <div class="giga bannerCat">
            <img src="../images/categoriaComunicacion.png" alt="" class="bgCat">
            <div class="txtCat">
                <h1 class="h1Cat">Nuestras Categorias</h1> <br><br>
                <h1 class="h2Cat ">Comunicación Efectiva Global</h1>
            </div>
        </div>
    </div>

    <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3negociosIII.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios III: Vocabulario para presentaciones presenciales</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3cEconomico.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso Economico: Vocabulario Economico, Bancario, Contable, de Finanzas y Tributos </h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3business.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios II: Redacción de correos electrónicos y conversaciones telefónicas</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          
          <div class="card " style="width: 18rem;">
            <img src="../images/cursos/3negociosI.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios I: Entrevistas laborales, redacción de CV y cartas de presentación</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>  
        </div>
      </div>
    
      <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3tecno.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso Técnico, Tecnológico y de Sistemas</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3negociosII.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios - Programa Integral</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/3meeting.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Reuniones</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br><br>Ar$ XXXX<br><i class="far fa-star"></i><br></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          
          <div class="card " style="width: 18rem;">
            <img src="../images/cursos/3social.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso Social</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png">     <img src="../images/france.png">     <img src="../images/italy.png"><br><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>  
        </div>
      </div>

    <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 22rem;">
            <img src="../images/cursos/3redaccion.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Redacción: De informes y propuestas</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 22rem;">
            <img src="../images/cursos/3negociosIV.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios IV: Vocabulario de Viajes de Negocios</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 22rem;">
            <img src="../images/cursos/3negociosV.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Negocios V: Vocabulario para Atención al Cliente</h5>
              <p class="card-text">Por: Nombre Apellido<br>Idiomas: <img src="../images/uk.png">     <img src="../images/portugal.png"><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="#" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
        </div>
    </div>




    <footer class="container-fluid menu position-sticky" >
      <ul class="col-2">
          <p>Nosotros</p>
          <li><a href="/index">Quienes Somos</a></li>
          <li><a href="">Terminos y Condiciones</a></li>
          <li><a href="">Política y Privacidad</a></li>
  
      </ul>
  
      <ul class="col-2">
          <p>Info</p>
          <li><a href="/categoria">Categorias</a></li>
          <li><a href="">Profesores</a></li>
          <li><a href="/listaProductos">Listado de Cursos</a></li>
      </ul>
  
      <ul class="col-2">
          <p>Medios</p>
          <li><a href="https://twitter.com/">Twitter</a></li>
          <li><a href="https://facebook.com/">Facebook</a></li>
          <li><a href="https://instagram.com/">Instagram</a></li>
          <li><a href="https://linkedin.com/">Linkedin</a></li>
      </ul>
  
      <ul class="col-2">
          <p>Contacto</p>
          <li><a href="/index">Necesito Ayuda</a></li>
          <li><a href="/login">Ingresa</a></li>
          <li><a href="/register">Registrate</a></li>
  
      </ul>
      <a href="index.html" class="logoF col-2"><img src="../images/LOGO.png" alt="logo" class="logo"></a>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"></script>

</body>

</html>
