<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categoria - Global Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

</head>

<body>
    <h4 class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam assumenda labore ipsam magni pariatur, nihil commodi quasi doloribus vel! Illum quaerat dolore magnam suscipit at aliquid, laudantium eius eaque.</h4>

    


    <%- include('partials/header') %>
    <div class="giga">
        <div class="giga bannerCat">
            <img src="../images/categoriaMarketing.png" alt="" class="bgCat">
            <div class="txtCat">
                <h1 class="h1Cat">Nuestras Categorias</h1> <br><br>
                <h1 class="h2Cat ">Marketing Digital</h1>
            </div>
        </div>
    </div>

    <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/cm1a.png" alt="" class="prodCurso">
            <div class="card-body">
              <h5 class="card-title">Curso de Community Management - Programa Integral</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/9" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/cm2.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Community Manager - Introducción I</h5>
              <p class="card-text">Por: Nombre Apellido<br><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/10" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/googleads.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Cursos de Google Adwords y posicionamiento</h5>
              <p class="card-text">Por: Nombre Apellido<br><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/11" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          
          <div class="card " style="width: 18rem;">
            <img src="../images/cursos/mrk1.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Marketing Online - Programa Integral</h5>
              <p class="card-text">Por: Nombre Apellido<br><br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/12" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>  
        </div>
      </div>
    
      <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/mrk1.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Introducción al mundo del Marketing Online</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/13" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/mrk2.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Programa Ejectuivo de Marketing Online</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/14" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/mercadolibre.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Mercado Libre: Como aumentar las ventas</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/17" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          
          <div class="card " style="width: 18rem;">
            <img src="../images/cursos/mrkContenidos.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Marketing de contenidos</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/16" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>  
        </div>
      </div>

    <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/ecommerce.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de e-Commerce</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/15" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
        </div>
    </div>




    <footer class="container-fluid menu position-sticky" >
      <ul class="col-2">
          <p>Nosotros</p>
          <li><a href="/index">Quienes Somos</a></li>
          <li><a href="">Terminos y Condiciones</a></li>
          <li><a href="">Política y Privacidad</a></li>
  
      </ul>
  
      <ul class="col-2">
          <p>Info</p>
          <li><a href="/categoria">Categorias</a></li>
          <li><a href="">Profesores</a></li>
          <li><a href="/listaProductos">Listado de Cursos</a></li>
      </ul>
  
      <ul class="col-2">
          <p>Medios</p>
          <li><a href="https://twitter.com/">Twitter</a></li>
          <li><a href="https://facebook.com/">Facebook</a></li>
          <li><a href="https://instagram.com/">Instagram</a></li>
          <li><a href="https://linkedin.com/">Linkedin</a></li>
      </ul>
  
      <ul class="col-2">
          <p>Contacto</p>
          <li><a href="/index">Necesito Ayuda</a></li>
          <li><a href="/login">Ingresa</a></li>
          <li><a href="/register">Registrate</a></li>
  
      </ul>
      <a href="index.html" class="logoF col-2"><img src="../images/LOGO.png" alt="logo" class="logo"></a>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"></script>

</body>

</html>
