<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Productos</title>
    <style>
        body {
            font-family: courier, serif;
        }
    </style>
</head>
<body>
    <h1></h1style> DETALLE DE PRODUCTO</h1>
        <lu>   
            <label><b>Nombre del Curso</b></label>
            <li><%=Producto.nombre%></li> 
            <br>
            <label><b>Detalle del curso</b></label>
            <li><%=Producto.descripcion%></li>
            <br>
            <label><b>Precio del Curso</b></label>
            <li>$<%=Producto.precio%></li>
            <br>
        </lu>   
</body>
</html>