<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="UTF-8">
    <title>Home Page - Global Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

  </head>
  
  
  <body>
    <!-- banner con informacion arriba de todo -->
    <h4 class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam assumenda labore ipsam magni pariatur, nihil commodi quasi doloribus vel! Illum quaerat dolore magnam suscipit at aliquid, laudantium eius eaque.</h4>

    <!-- barra con opciones de interaccion-->
    <%- include('partials/header') %>

    <!-- HOME PAGE IMAGEN -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <h1 class="txt-center">GLOBAL SKILLS</h1>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="../images/chica-home.png" class="d-block w-100" alt="First slide">
        </div>
        <div class="carousel-item">
<<<<<<< HEAD
          <img src="../images/image-6.png" class="d-block w-100" alt="Second slide">
=======
          <img src="../images/mujer-registro-2.png" class="d-block w-100" alt="Second slide">
>>>>>>> 660e3d53c903b659af715d532ea8bb0230b70dde
        </div>
        <div class="carousel-item">
          <img src="../images/home3.png" class="d-block w-100" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- TITULO SOBRE NOSOTROS-->
    <div class="tituloHome">
      <h2>SOBRE NOSOTROS</h2>
    </div>
    <!-- linea-->
    <div class="lineaIndex">
      <h2>_________________________________________________________________________________________________________</h2>
    </div>

    <div class="container">
      <div class = "row">
        <div class="col-6"> 
          <h2>Conocenos un poco más</h2>
          <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur accusantium provident id quos voluptatibus vel blanditiis ad. Deserunt commodi saepe voluptatibus accusamus expedita perferendis maiores officia et provident quisquam? Nisi reiciendis aliquid animi quos, ad asperiores deserunt nesciunt mollitia sit.</h4>
          <button class="botonContactar">Contactanos</button>
        </div>
        <div class ="col-6">
          <img src="../images/nosotros-home.png" alt="" class="nosotros">
        </div>      
      </div>
    </div>
    
    <div class="celesteContador">
    <!--FRASES - CONTADOR-->
    <div class="container ">
      <div class="row">
        <div class="tituloHome col-6">
          <h2>Formando los líderes del sector creativo</h2>
        </div>
        <div class="tituloHome col-3">
          <h2>NUMERO</h2>
          <h4>Alumnos Aprendiendo</h4>
        </div>
        <div class="tituloHome col-3">
          <h2>NUMERO</h2>
          <h4>Cursos Disponibles</h4>
        </div>
      </div>
    </div>
    </div>
        <!-- CARACTERISTICAS DE GLOBAL SKILLS-->
    <div class="detalle container">
      <div class="row"> 

        <ul class="frase col-6">
          <li> <h4><i class="far fa-lightbulb"></i>  Aprendé en tu propio tiempo</h4></li>
          <li><h3>Disfrutá el aprendizaje desde tu casa sin un calendario.<br>Organizá tus propios tiempos.</h3></li>
        </ul>

        <ul class="frase col-6">
          <li> <h4><i class="far fa-lightbulb"></i>  Aprendé de los mejores</h4></li>
          <li><h3>Aprendé valiosas metodologías y técnicas explicadas por <br>los expertos más importantes del sector.</h3></li>
        </ul>
        <ul class="frase col-6">
          <li> <h4><i class="far fa-lightbulb"></i>  Compartí conocimientos</h4></li>
          <li><h3>Hacé preguntas, pedí devoluciones, ofrecé soluciones. <br>Compartí tu conocimiento con otros alumnos de la comunidad.</h3></li>
        </ul>
        <ul class="frase col-6">
          <li> <h4> <i class="far fa-lightbulb"></i>  Asientos de primera fila</h4></li>
          <li><h3>Nuestros videos de alta calidad aseguran que no pierdas ni <br>un solo detalle. Con acceso ilimitado, podes verlos muchas veces.</h3></li>
        </ul>
        <ul class="frase col-6">
          <li><h4><i class="far fa-lightbulb"></i>  Instructores Expertos</h4></li>
          <li><h3>Cada profesor enseña solo lo que él o ella hacen mejor, <br>transmitiendo verdadera pasión y excelencia en cada clase.</h3></li>
        </ul>
        <div class="frase col-6">
          <div> <h4><i class="far fa-lightbulb"></i>  Comunidad Emprendedora</h4></div>
          <div><h3>Incentivamos a nuestros alumnos a emprender y aplicar sus <br>nuevos conocimientos en proyectos.</h3></div>
        </div>
      </div>
    </div>

    <!-- TITULO NUESTRAS CATEGORIAS-->
    <div>
      <h2 class = "tituloHome">NUESTRAS CATEGORIAS</h2>
    </div>
     <!-- linea-->
     <div class="lineaIndex">
      <h2>_________________________________________________________________________________________________________</h2>
    </div>

    <!-- TRES CATEGORIAS DE CURSOS-->
    <div class="categriasCard containter-fluid">
      <div  class="row">

      <div class="card col-3" style="width: 12rem;" >
        <img src="../images/marketing-digital-home.png" alt="" class="prod">
        <div class="card-body">
          <h5 class="card-title">Marketing Digital</h5>
          <p class="card-text">Tenemos una amplia variedad de cursos  <br> que te permitirán convertirte en un  <br> experto del mundo digital.</p>
          <a href="/categoriaMarketing" class="btn btn-primary"><i class="fas fa-plus"></i> CURSOS</a>
        </div>
      </div>

      <div class="card col-3" style="width: 12rem;">
        <img src="../images/gestion-y-management-home.png" alt="" class="prod">
        <div class="card-body">
          <h5 class="card-title">Gestión y Management</h5>
          <p class="card-text">Tenemos una amplia variedad de <br>cursos que te permitirán convertirte <br>en un experto del mundo digital.</p>
          <a href="/categoriaGestion" class="btn btn-primary"><i class="fas fa-plus"></i> CURSOS</a>
        </div>
      </div>

      <div class="card col-3" style="width: 12rem;">
        <img src="../images/comunicacion-ejecutiva-gloobal.png" alt="" class="prod">
        <div class="card-body">
          <h5 class="card-title">Comunicación Ejecutiva Global</h5>
          <p class="card-text">Ganá todas las herramientas necesarias <br>para trabajar en el exterior, traslada <br>tu conocimiento a diferentes idiomas.</p>
          <a href="/categoriaComunicacion" class="btn btn-primary"><i class="fas fa-plus"></i> CURSOS</a>
        </div>
      </div>
    </div>
    </div>
  

    <div class = "celesteContador">
      <!-- TEXTO LOS PRESENTANDO A LOS CURSOS POPULARES-->
      <div class="tituloHome ">
        <h2>LOS CURSOS MÁS POPULARES</h2>
      </div>

      <!-- linea-->
      <div class="lineaIndex">
        <h2>_________________________________________________________________________________________________________</h2>
      </div>


      <!-- LOS CURSOS MAS POPULARES-->
      <div class="card  container-fluid" id="card">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/mrk1.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Marketing Online- Programa Integral</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/12" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/cm2.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Community Manager - Introducción I</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/10" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../images/cursos/mrkContenidos.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Marketing de Contenidos</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/16" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>
          
          <div class="card " style="width: 18rem;">
            <img src="../images/cursos/googleads.png" alt="" class="prod">
            <div class="card-body">
              <h5 class="card-title">Curso de Google Adwords y posicionamiento</h5>
              <p class="card-text">Por: Nombre Apellido<br>Ar$ XXXX<br><i class="far fa-star"></i></p>
              <a href="/listaProductos/11" class="btn btn-primary comprar"><i class="fas fa-plus"></i> Ver más</a>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <!-- INFORMACION DE CONTACTO-->
    <div class="tituloHome pb-5 pt-5">
      <h2>CONTACTO</h2><h2 class="lineaIndex">_________________________________________________________________________________________________________</h2>
      <h4 class="preguntanos">Preguntanos lo que quieras</h4>
      <button type="button" class="btn btn-light"><i class="far fa-envelope"></i>   Email</button>
    </div>


<%- include('partials/footer')  %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  </body>
</html>
