<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Login</title>

    </head>
<body class= "body3">

  <div class="text-center">
<form action="/login" method="POST">

    
    <div class="login">
        <h1 class="tituloIngresa">Ingresá</h1>
       
        <div>
            <label for="Email" class="form-label"></label>
            <input type="Email" id="Email" name="Email" placeholder="Ej: @gmail.com" class="form-input" value="">
            <br>
            <p class="errors">
                <% if (typeof errors != 'undefined' ) { %>
                    <% if (errors.Email) { %>
                    <%= errors.Email.msg %>
                <% } %>
            <% } %>
            </p>
        </div>
        <div>
            <label for="password" class="form-label"></label>
            <input type="password" id="password" name="password" placeholder="Ej:1234" class="form-input" value="">
            <p class="errors">
                <% if (typeof errors != 'undefined' ) { %>
                    <%=  errors.password ? errors.password.msg : '' %>
                <% } %>
            </p>
        </div>
        
        <p class="olvide text-center">Olvidé mi contraseña</p>
        <article class="Recordarme text-center">
            <label for="remember" class="form-label d-inline">Recuérdame
            <input type="checkbox" id="remember" name="remember"  class="form-check d-inline">
        </label>
            </article>
        
        <p class="text-center">
            <input type="submit" id="name" name="name" placeholder="" class="cuentaLogin" value="CONTINUAR">
        </p>
       
    </div>
    <p class="registrate text-center pr-2">¿No tenes usuario? <a class = "registrate text-center" href ="register">Registrate</a></p>  
</form>

</div>

</body>
</html>
