<!DOCTYPE html>
<html>
<body class= "body3">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel = "stylesheet" href = "../stylesheets/styles.css">
        
    </head>

<form action="log" method="POST">
    <!-- ACA FALTA AGREGAR TODO LO QUE ES DE ERROR . TAMBIEN TENDRIA QUE ESTAR EN EL REGISTER.EJS-->


<form action="login" method="POST">

    
    <div class="login">
        <h1 class="tituloIngresa">ingresá</h1>
       
        <div>
            <label for="Email" class="form-label"></label>
            <input type="Email" id="Email" name="Email" placeholder="Ej: @gmail.com" class="form-input" value="Email">
            <br>
            <p class="errors">
                <% if (typeof errors != 'undefined' ) { %>
                    <% if (errors.Email) { %>
                    <%= errors.Email.msg %>
                <% } %>
            <% } %>
            </p>
        </div>
        <div>
            <label for="password" class="form-label"></label>
            <input type="password" id="password" name="password" placeholder="Ej:1234" class="form-input" value="Contraseña">
            <p class="errors">
                <% if (typeof errors != 'undefined' ) { %>
                    <%=  errors.password ? errors.password.msg : '' %>
                <% } %>
            </p>
        </div>
        
        <p class="olvide">Olvidé mi contraseña</p>
        <article class="Recordarme">
            <label for="remember" class="form-label">Recuérdame</label>
							<input type="checkbox" id="remember" name="remember" class="form-check">
            </article>
        
        <p>
            <input type="submit" id="name" name="name" placeholder="" class="form-Cuenta" value="CONTINUAR">
        </p>
       
    </div>
    <p class="registrate">¿No tenes usuario? <a class = "registrate" href ="register">Registrate</a></p>  
</form>

</body>
</html>
